fastapi==0.115.0
uvicorn==0.30.6
gradio==4.44.0
openai>=1.51.0
pyttsx3==2.90
pydub==0.25.1
SpeechRecognition==3.10.4
numpy
passlib[bcrypt]==1.7.4
PyJWT==2.9.0
qrcode==7.4.2
speedtest-cli==2.1.3
Pillow==10.4.0
cryptography==43.0.3
pyautogui==0.9.54
